*{
  font-family: sans-serif ;
}

.app-auth {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.log-in-container {
  position: relative;
  background-color: white;
  border-radius: 10px;
  width: 350px;
  padding: 20px;
}

.head {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 20px;
  color: #2d2d2d;
}

.input {
  border-bottom: 2px solid #2d2d2d;
  padding: 5px 0px;
  font-size: 16px;
  width: 100%;
  margin-top: 25px;
}


.links-log-in {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.links-log-in a {
  color: rgba(0, 0, 0, 0.526);
  cursor: pointer;
}

.links-log-in a:hover {
  text-decoration: underline;
}

.box-button-auth {
  display: flex;
  justify-content: center;
}

.button-auth {
  background-color: #2d2d2d;
  border: 1px solid #2d2d2d;
  margin-top: 20px;
  padding: 10px 70px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
}

.button-auth:hover {
  color: #2d2d2d;
  border: 1px solid #2d2d2d;
  background-color: white;
  transition: all 0.2s ease;
}