@import '../mixins.scss';
@import '../functions.scss';

*{
  font-family: sans-serif ;
}

.app-auth {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;

  @include themify($themes) {
    background: themed('colorApp');
  }
}

.log-in-container {
  position: relative;
  background-color: white;
  border-radius: 10px;
  width: 350px;
  padding: 20px;

  @include themify($themes) {
    background: themed('colorHeaderFooter');
  }
}

.head {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 20px;
  color: #2d2d2d;

  @include themify($themes) {
    color: themed('colorText');
  }
}

.input {
  border-bottom: 2px solid #2d2d2d;
  padding: 5px 0px;
  font-size: 16px;
  width: 100%;
  margin-top: 25px;

  @include themify($themes) {
    background: themed('colorHeaderFooter');
    border-bottom: themed('borderDark');
    color: themed('colorText');
  }
}

.app-modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.504);
  z-index: 2;
  width: 100%;
  height: 100%;
}

.links-log-in {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  a {
    color: rgba(0, 0, 0, 0.526);
    cursor: pointer;

    @include themify($themes) {
      color: themed('colorTextShadow');
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

// .links-log-in a {
//   color: rgba(0, 0, 0, 0.526);
//   cursor: pointer;

//   @include themify($themes) {
//     color: themed('colorTextShadow');
//   }
// }

// .links-log-in a:hover {
//   text-decoration: underline;
// }

.box-button-auth {
  display: flex;
  justify-content: center;
}

.button-auth {
  background-color: #2d2d2d;
  border: 1px solid #2d2d2d;
  margin-top: 20px;
  padding: 10px 70px;
  border-radius: 5px;
  font-size: 16px;
  color: white;  

  @include themify($themes) {
    background: themed('colorApp');
    border: themed('borderDarkButton');
  }
  &:hover {
    color: #2d2d2d;
    border: 1px solid #2d2d2d;
    background-color: white;
    transition: all 0.2s ease;
  }
}

// .button-auth:hover {
//   color: #2d2d2d;
//   border: 1px solid #2d2d2d;
//   background-color: white;
//   transition: all 0.2s ease;
// }

.auth-error {
  color: red;
  margin-top: 5px;

  @include themify($themes) {
    color: themed('errorAuthDark');
  }
}