@import '../mixins.scss';
@import '../functions.scss';

.app-city {
  padding: 20px 0;
  background: linear-gradient(45deg, #2980B9, #6DD5FA, white);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;

  @include themify($themes) {
    background: themed('colorApp');
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.content-container-city-page {
  background-color: white;
  border-radius: 7px;
  margin: 0 auto;
  padding: 30px 20px;
  max-width: 1200px;

  @include themify($themes) {
    background: themed('colorHeaderFooter');
  }
}

.title-city {
  position: relative;
  padding: 0 50px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(0, 191, 255);
  margin-bottom: 40px;

  @include themify($themes) {
    color: themed('colorText');
  }
}

.selected-city-title {
  letter-spacing: 4px;
  font-size: 28px;
  font-weight: 700;
}

.custom-checkbox-sport{
  font-size: 35px;
}

label {
  font-size: 35px;
}

label input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  cursor: pointer;
}

.custom-checkbox .glyphicon {
  color: gold;
  position: absolute;
  top: 10px;
}

.custom-checkbox .glyphicon-star-empty {
  color: rgb(0, 0, 0);

  @include themify($themes) {
    color: themed('colorText');
  }
}

.custom-checkbox .glyphicon-star {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-checkbox input[type="checkbox"]:checked ~ .glyphicon-star {
  opacity: 1;
}

/* asdjhgkjl */
.custom-checkbox-sport {
  font-size: 20px;
}

.custom-checkbox-sport input[type="checkbox"] {
  display: none;
}

.custom-checkbox-sport {
  cursor: pointer;
}

.custom-checkbox-sport .glyphicon {
  color: gold;
  position: absolute;
  top: 10px;
  right: 10px;
}

.custom-checkbox-sport .glyphicon-star-empty {
  color: rgb(0, 0, 0);

  @include themify($themes) {
    color: themed('colorText');
  }
}

.custom-checkbox-sport .glyphicon-star {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-checkbox-sport input[type="checkbox"]:checked ~ .glyphicon-star {
  opacity: 1;
}
/* adsfads */

.forecast-box {
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 9px;

  @include themify($themes) {
    background: themed('colorApp');
  }
}

.sport-box {
  border-radius: 7px;
  background-color: #eee;
  margin-top: 40px;
  padding: 4px;
  display: flex;
  flex-wrap: wrap;

  @include themify($themes) {
    background: themed('colorApp');
  }
}

.sport-card-box-city {
  position: relative;
  padding: 9px;
  border-radius: 7px;
  background-color: white;
  margin: 5px; 
  width: 32.4%;

  @include themify($themes) {
    background: themed('colorHeaderFooter');
  }
}

.title-box-sport {
  color: rgb(0, 191, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 20px;

  @include themify($themes) {
    color: themed('colorText');
  }
}

.data-box-sport div {
  margin-bottom: 5px;

  @include themify($themes) {
    color: themed('colorText');
  }
  span {
    font-weight: 700;
  }
}

.days {
  background-color: white;
  border-radius: 7px;

  @include themify($themes) {
    background: themed('colorHeaderFooter');
  }
}

.main-forecast {
  background-color: white;
  border-radius: 7px;
  width: 88%;
  display: flex;
  justify-content: space-between;
  padding: 9px;

  @include themify($themes) {
    background: themed('colorHeaderFooter');
  }
}

.day-card {
  background-color: #eee;
  border-radius: 7px;
  width: 110px;
  height: 110px;
  margin: 9px;
  padding: 10px;

  @include themify($themes) {
    background: themed('colorApp');
    color: themed('colorText');
  }
}

.bg-color {
  background-color: rgb(0, 191, 255);
}

.bg-color-dark {
  @include themify($themes) {
    background: themed('bgDark');
  }
}

.title-card {
  font-weight: 600;
}

.description-card {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.485);

  @include themify($themes) {
    color: themed('colorTextShadow');
  }
}

.visual-card {
  display: flex;
  align-items: center;
}

.max-city { 
  font-size: 15px;
  margin-bottom: 3px;
}

.min-city {
  color: rgba(88, 87, 87, 0.362);
  @include themify($themes) {
    color: themed('colorText');
  }
}

.title-main {
  align-self: flex-start;
  max-width: 205px;
  background-color: #eee;
  border-radius: 7px;
  padding: 9px;

  @include themify($themes) {
    background: themed('colorApp');
    color: themed('colorText');
  } 
}

.data-main {
  background-color: #eee;
  border-radius: 7px;
  padding: 0 9px;
  display: flex;

  @include themify($themes) {
    background: themed('colorApp');
    color: themed('colorText');
  } 
}

.text-title-main {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.description-title-main {
  color: rgba(0, 0, 0, 0.485);
  margin-bottom: 20px;

  @include themify($themes) {
    color: themed('colorTextShadow');
  }
}

.temperature-title-main {
  font-weight: 700;
  font-size: 60px;
}

.temperature-icon-title-main {
  display: flex;
  position: relative;
}


.icon-title-main {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.feels-title-main {
  font-size: 15px;
  margin-top: 20px;
}

.vertical-box-titles {
  padding-top: 7px;
  div {
  width: 100px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.518);
  margin: 21px 0;

  @include themify($themes) {
    color: themed('colorText');
  }
  }
  
}

.box-titles-values {
  width: 100%;
  display: flex;
  padding: 13px 0 0 0 ;
  div {
    margin: 0 0 18px 0;
  }
}

.card-values-forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4.6px;
  border-right: 1px solid rgb(0, 191, 255);
}

.card-values-forecast:first-child {
  border-left: 1px solid rgb(0, 191, 255);
}

.time {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.518);

  @include themify($themes) {
    color: themed('colorTextShadow');
  } 
}

.icon img {
  width: 40px;
  height: 40px;
} 

.temperature {
  font-size: 20px;
  font-weight: 100;
}

.feels-like {
  color: rgba(0, 0, 0, 0.518);

  @include themify($themes) {
    color: themed('colorTextShadow');
  } 
}

.condition {
  padding: 9px 0 14px 0;
}
