@import '../mixins.scss';
@import '../functions.scss';

// .app-main {
//   flex-grow: 1;
//   height: 100%;
//   padding: 0 0 20px 0;
//   background: linear-gradient(45deg, #2980B9, #6DD5FA, white);
//   background-size: 400% 400%;
//   animation: gradient 10s ease infinite;

//   @include themify($themes) {
//     background: themed('colorApp');
//   }
// }

// @keyframes gradient {
//   0% {
//     background-position: 0 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0 50%;
//   }
// }

.container-main-content {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.box {
  width: 100%;
  margin-left: 10px;
}

.forecast {
  background-color: white;
  border-radius: 7px;
  
  @include themify($themes) {
    background: themed('colorHeaderFooter');
  }
}

.forecast-head {
  padding: 20px 40px;

  @include themify($themes) {
    color: themed('colorText');
  }
}

.forecast-temperature {
  font-size: 40px;
  margin-bottom: 10px;
}

.forecast-title {
  font-size: 30px;
  font-weight: 600;
}

.temperature-max-min {
  align-self: start;
  margin-top: 10px;
  display: flex;
}

.min {
  span {
    margin-left: 5px;
  }
}

.max {
  margin-left: 10px;
  span {
    margin-left: 5px;
  }
}

.forecast-content {
  height: 170px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include themify($themes) {
    color: themed('colorText');
  }
}

.forecast-content-card {
  border-bottom: 1px solid rgb(0, 191, 255);
  display: flex;
  align-items: center;
  margin: 5px 5px;
  padding: 5px;
  font-size: 16px;
  span {
    align-self: center;
  }
}

.icon-title {
  display: flex;
  align-items: center;
}

.forecast-content-title {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.forecast-content-value {
  font-size: 16px;
}

.favorite-box {
  width: 49%;
  padding: 5px 20px 30px;
  border-radius: 7px;
  background-color: white;
  margin: 0 10px;

  @include themify($themes) {
    background: themed('colorHeaderFooter');
  }
}

.title-of-favorites {
  font-size: 20px;
  text-align: center;
  padding: 10px;

  @include themify($themes) {
    color: themed('colorText');
  }
}

.title-cites {
  font-size: 16px;
  text-decoration: underline;

  @include themify($themes) {
    color: themed('colorText');
  }
}

.card-cites {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(0, 191, 255);
  padding: 20px 20px 10px;
  div {
    cursor: pointer;
  }

  @include themify($themes) {
    color: themed('colorText');
  }
}

.delete-favorite-card {
  cursor: pointer;
  width: 1em;
  height: 1em;
  background-color: rgb(0, 191, 255);
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.sports {
  margin-top: 20px;
}

.sport-event {
  padding: 30px 10px 10px 10px;
  background-color: white;
  border-radius: 7px;
  margin-top: 10px;
  width: 100%;

  @include themify($themes) {
    background: themed('colorHeaderFooter');
  }
}

.title-kind-sports {
  margin-left: 30px;
  font-size: 30px;
  font-weight: 600;

  @include themify($themes) {
    color: themed('colorText');
  }
}

.forecast-content {
  height: 170px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.forecast-content-card {
  border-bottom: 1px solid rgb(0, 191, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 5px;
  padding: 5px;
}

.data-of-event {
  height: 170px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include themify($themes) {
    color: themed('colorText');
  }
}

.card-event {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title-event {
  display: flex;
  justify-content: space-between;
  width: 49%;
  border-bottom: 1px solid rgb(0, 191, 255);
  font-size: 16px;
  padding: 10px;
}

.data-title {
  margin-top: 7px;
} 

.user {
  display: inline;
}

.input-main {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.text-for-empty-favorites {
  margin: 20px;
  color: tomato;
}

.empty-main-forecast {
  color: tomato;
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

// .intro {
//   position: relative;
//   background-size: cover;
//   min-height: 100vh;
//   overflow: hidden;
// }

// .video-box-main {
//   position: relative;
// }

.video-main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  min-height: auto;
}
