/* * {
  font-family: sans-serif ;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.log-in-container {
  position: relative;
  background-color: white;
  border-radius: 10px;
  width: 350px;
  padding: 20px;
}

.head {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 20px;
  color: #2d2d2d;
}

.input {
  border-bottom: 2px solid #2d2d2d;
  padding: 5px 0px;
  font-size: 16px;
  width: 100%;
  margin-top: 25px;
}


.links-log-in {
  color: rgba(0, 0, 0, 0.526);
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.links-log-in a {
  cursor: pointer;
}

.links-log-in a:hover {
  text-decoration: underline;
}

.box-button-auth {
  display: flex;
  justify-content: center;
}

.button-auth {
  background-color: #2d2d2d;
  border: 1px solid #2d2d2d;
  margin-top: 20px;
  padding: 10px 70px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
}

.button-auth:hover {
  color: #2d2d2d;
  border: 1px solid #2d2d2d;
  background-color: white;
  transition: all 0.2s ease;
} */



/*////////////////// ACCOUNT /////////////////////// */

/* * {
  font-family: sans-serif ;
}

.app {
  min-height: 100vh;
  background-color: #eee;
}

.my-account-head {
  margin: 0 auto;
  max-width: 900px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.logo-account {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 5px;
}

.container {
  max-width: 900px;
  background-color: white;
  margin: 0 auto;
}

.exit-account {
  cursor: pointer;
}

.exit-account:hover {
  text-decoration: underline;
}

.greetings-user-box {
  padding: 40px;
}

.user-name {
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
}

.line {
  background-color:rgb(0, 191, 255);
  height: 2px;
  max-width: 820px;
  margin: 0 auto;
} 

.text-dark-mode {
  margin: 23px 0 0 40px;
}

.text-system {
  margin: 23px 0 0 40px;
}

:root {
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.toggle-switch {
  position: relative;
  position: relative;
  width: 40px;
}

.mode-system { 
  position: absolute;
  top: 20px;
  left: 185px;
  width: 100%;
  height: 20px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
}

.input-switch {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

.slider-system {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s
}

.input-switch:checked ~ .slider {
  background-color: var(--light);
}

.input-switch:checked ~ .slider-system {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: inset 5px -1px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

.slider-system::before {
  content: "";
  position: absolute;
  top: 1.7px;
  left: 3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: inset 28px 0px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

.input-switch:checked ~ .slider-system::before {
  transform: translateX(18px);
  background-color: var(--dark);
  box-shadow: none;
}

.favorite-cities-box {
  padding: 40px;
}

.favorite-cities-head {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}

.city-card {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  padding: 10px 25px;
  border-bottom: 1px solid rgb(0, 191, 255);
}

.delete-card {
  cursor: pointer;
  width: 1em;
  height: 1em;
  background-color: rgb(0, 191, 255);
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
} */



/* /////////////////////////////// MAINPAGE ////////////////////////////*/

* {
  font-family: sans-serif ;
}

.app {
  min-height: 100vh;
  background: linear-gradient(45deg, #2980B9, #6DD5FA, white);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.head-main-page {
  background-color: white;
}

.container-header-main-page {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.language-changer {
  cursor: pointer;
}

.language-changer::after {
  content: '▼';
}

.input-header {
  position: relative;
}

.input-header input {
  outline: 2px solid black;
  padding: 9px 30px 9px 14px;
  border-radius: 15px;
  width: 400px;
  font-size: 15px;
}

.search-icon {
  position: absolute;
  top: 6px;
  left: 370px;
}

.container-main-content {
  margin: 40px auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.box {
  width: 60%;
}

.forecast {
  background-color: white;
  border-radius: 7px;
}

.forecast-head {
  padding: 20px 40px;
}

.forecast-temperature {
  font-size: 40px;
  margin-bottom: 10px;
}

.forecast-title {
  font-size: 30px;
  font-weight: 600;
}

.temperature-max-min {
  align-self: start;
  margin-top: 10px;
  display: flex;
}

.max {
  margin-left: 10px;
}

.forecast-content {
  height: 170px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.forecast-content-card {
  border-bottom: 1px solid rgb(0, 191, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 5px;
  padding: 5px;
}

.forecast-content-title {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.forecast-content-value {
  font-size: 16px;
}

.favorite-box {
  padding: 5px 20px 30px;
  border-radius: 7px;
  background-color: white;
  width: 39%;
  min-height: 220px;
  height: 100%;
}

.title-of-favorites {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.title-cites {
  font-size: 16px;
  text-decoration: underline;
}

.card-cites {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(0, 191, 255);
  padding: 20px 20px 10px;
}

.delete-favorite-card {
  cursor: pointer;
  width: 1em;
  height: 1em;
  background-color: rgb(0, 191, 255);
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.sports {
  margin-top: 20px;
}

.sport-event {
  background-color: white;
  height: 200px;
  border-radius: 7px;
  margin-top: 10px;
  width: 100%;
}